src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.1.0">
    <xs:element name="persons">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="person" name="person" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="national_id" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element type="address" name="address"/>
            <xs:element type="address" name="correspondence_address" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="street_number" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="postal_code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>